@font-face {
    font-family: "iconfont"; /* Project id 2820005 */
    src: url('//at.alicdn.com/t/c/font_2820005_3zgekv3nyhf.woff2?t=1665294025391') format('woff2'),
    url('//at.alicdn.com/t/c/font_2820005_3zgekv3nyhf.woff?t=1665294025391') format('woff'),
    url('//at.alicdn.com/t/c/font_2820005_3zgekv3nyhf.ttf?t=1665294025391') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ziyuan:before {
    content: "\e6a5";
}

.icon-yundong:before {
    content: "\e628";
}

.icon-paobu2:before {
    content: "\e629";
}

.icon-paobu3:before {
    content: "\e786";
}

.icon-yundongT:before {
    content: "\e62a";
}

.icon-wode:before {
    content: "\e632";
}

.icon-wode1:before {
    content: "\e6b1";
}

.icon-weixin:before {
    content: "\e665";
}

.icon-wode2:before {
    content: "\e627";
}

.icon-kefudianhua:before {
    content: "\e630";
}

.icon-wode3:before {
    content: "\ec65";
}

.icon-icon_jingque:before {
    content: "\e63e";
}

.icon-paobu:before {
    content: "\e673";
}

.icon-bushu:before {
    content: "\e626";
}

.icon-paobu1:before {
    content: "\e677";
}

.icon-tianmaohaoquan:before {
    content: "\e600";
}

.icon-fushi:before {
    content: "\e670";
}

.icon-chengchang:before {
    content: "\e671";
}

.icon-ganshuang:before {
    content: "\e672";
}

.icon-shengdanjie-lazhu:before {
    content: "\e612";
}

.icon-shengdanjie-lingdang:before {
    content: "\e613";
}

.icon-shengdanjie-shengdanwa:before {
    content: "\e614";
}

.icon-shengdanjie-xueqiao:before {
    content: "\e615";
}

.icon-shengdanjie-shoutao:before {
    content: "\e616";
}

.icon-shengdanjie-liwu:before {
    content: "\e617";
}

.icon-shengdanjie-huahuan:before {
    content: "\e618";
}

.icon-shengdanjie-jiangbingren:before {
    content: "\e619";
}

.icon-shengdanjie-xuehua:before {
    content: "\e61a";
}

.icon-shengdanjie-caideng:before {
    content: "\e61b";
}

.icon-shengdanjie-bangbangtang:before {
    content: "\e61c";
}

.icon-shengdanjie-milu:before {
    content: "\e61d";
}

.icon-shengdanjie-shengdanshu:before {
    content: "\e61e";
}

.icon-shengdanjie-tangguo:before {
    content: "\e61f";
}

.icon-shengdanjie-boliqiu:before {
    content: "\e620";
}

.icon-shengdanjie-qiqiu:before {
    content: "\e621";
}

.icon-shengdanjie-shengdanmao:before {
    content: "\e622";
}

.icon-shengdanjie-xueren:before {
    content: "\e623";
}

.icon-shengdanjie-xingxing:before {
    content: "\e624";
}

.icon-shengdanjie-shouzhang:before {
    content: "\e625";
}

